- Bootstrap3: http://getbootstrap.com/css/#forms-control-validation
- Bootstrap4: https://v4-alpha.getbootstrap.com/components/forms/
- Foundation6: http://foundation.zurb.com/sites/docs/v/5.5.3/components/forms.html
